<!DOCTYPE html>
<html>
	<head>
		<title>rank</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<script src="static/D3Tooltip.js"></script>
		<div class="container">
			<div class="row">			
				 <div class="col-md-2">
					<table>
						<tr>
							<td>
								<img class="img-responsive img-circle" src="https://farm1.staticflickr.com/1/2759520_6dea8b9007.jpg" alt="Greece-1173 - Temple of Athena by Dennis Jarvis, on Flickr">
							</td>
						</tr>
						<tr>
							<td>
								Rank 1
							</td>
						</tr>
						<tr>
							<td>
								Tier 59
							</td>
						</tr>
						<tr>
							<td>
								Time: 14m 49.700s
							</td>
						</tr>
						<tr>
							<td>
								Date: Jun 23, 2015 5:03 AM
							</td>
						</tr>
					</table>				
				</div>

				<div class="col-md-4">
					<div class="alert alert-info">A</div>
					<br>
					<div class="alert alert-info">B</div>
					<br>
					<div class="alert alert-info">C</div>
				</div>

				<div class="col-md-6">
					<table>
						<tr>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png">
										</td>
										<td>
											<b>Shoulders</b>
											<br>
 											<a href="http://us.battle.net/d3/en/item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="http://us.battle.net/api/d3/data/item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td width="33%" valign="top">
							<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
							<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
							<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td width="33%" valign="top">
							<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
							<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
							<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td width="33%" valign="top">
							<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
							<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
							<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td width="33%" valign="top">
							</td>
							<td width="33%" valign="top">
							<table>
									<tr>
										<td width="33%" valign="top" align="center">
										<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><img border="0" src="http://media.blizzard.com/d3/icons/items/small/unique_shoulder_set_10_x1_demonhunter_male.png"></a>
										</td>
										<td>
											<b>Shoulders</b>
											<br>
											<a href="/view-item/Pauldrons-of-Akkhan-25557351.html" data-d3tooltip="item/CloI5KOuMBIHCAQVj_rviR3q1ZI_Hd6C_OUdhAOh1h2HcH1GHT_yCdgdG13PRDCLGjigA0AAUBJYBGCgA4ABRqUB6tWSP60B6tWSP7UB0vjIFbgB567OjwbAASkY4ZWA4Q5QClgAoAHhlYDhDqAB37XU-wU"><font color="#00FF00"><b>Pauldrons of Akkhan</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
							</td>
						</tr>
					</table>
				</div>
				
			</div>
		</div>
	</body>
</html>