<html>
	<head>
		<title>Witch Doctor Rank</title>
		<h3 align="center">Witch Doctor Leader Board</h3>
		<form id="formRank" action="" class="container" method="post" align="right">
				<label for="rank"><i>Please enter a rank number: </i></label>
        		<input type="text" name="rank" value="{{request.form.rank}}" style="width: 7%">
        		<input id="iptHeroId" type="hidden" name="heroId" value="{{request.form.heroId}}" />
        		<input class="btn btn-primary" type="submit" value="Search">
      	</form>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">		
	</head>

	<body>
		<script src="static/D3Tooltip.js"></script>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<table>
						<tr>
							<td><img src="static/WD_M.jpg" style="width: 80%; height: 50%"></td>
						</tr>
						<tr>
							<td><b>Name</b>: {{profile["name"]}}</td>
						</tr>
						<tr>
							<td><b>Rank</b>: {{profile["_id"]}}</td>			
						</tr>
						<tr>
							<td><b>Paragon</b>: {{profile["paragonLevel"]}}</td>
						</tr>
						<tr>
							<td><b>Tier</b>: {{profile["tier"]}}</td>
						</tr>
						<tr>					
							<td><b>Time</b>: {{profile["time"]}}</td>
						</tr>      				
					</table>
				</div>
				<div class="col-md-6">
					{% for hero in heroes %}
						<div class="alert alert-info" id="test">								
							<b>ID</b>:{{hero["ID"]}}&nbsp;&nbsp;&nbsp;&nbsp;<b>Intelligence</b>:{{hero["Intelligence"]}}&nbsp;&nbsp;&nbsp;&nbsp;<b>Vitality</b>:{{hero["Vitality"]}}&nbsp;&nbsp;&nbsp;&nbsp;<b>Recovery</b>:{{hero["Recovery"]}}

							<label id="heroId" style="visibility:hidden">{{hero["_id"]}}</label>

							<b>Damage</b>:{{hero["Damage"]}}&nbsp;&nbsp;&nbsp;&nbsp;<b>Toughness</b>:{{hero["Toughness"]}}&nbsp;&nbsp;&nbsp;&nbsp;<b>LIFE</b>:{{hero["LIFE"]}}&nbsp;&nbsp;&nbsp;&nbsp;<b>MANA</b>:{{hero["MANA"]}}
						</div>
						<br>
					{% endfor %}
				</div>

				<script>         
         			$(".alert.alert-info").click(function() {
    					var heroId = $(this).find("label").text();
    					$("#iptHeroId").val(heroId);
    					$("#formRank").submit();
					});
      			</script>
				
				<div class="col-md-4">
					<table>
						<tr>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["shoulders"]["icon"]}}.png">
										</td>
										<td>
											<b>Shoulders</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["shoulders"]["tooltipParams"]}}"><font color={{item["shoulders"]["displayColor"]}}><b>{{item["shoulders"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["head"]["icon"]}}.png">
										</td>
										<td>
											<b>Head</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["head"]["tooltipParams"]}}"><font color={{item["head"]["displayColor"]}}><b>{{item["head"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["neck"]["icon"]}}.png">
										</td>
										<td>
											<b>Neck</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["neck"]["tooltipParams"]}}"><font color={{item["neck"]["displayColor"]}}><b>{{item["neck"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["hands"]["icon"]}}.png">
										</td>
										<td>
											<b>Hands</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["hands"]["tooltipParams"]}}"><font color={{item["hands"]["displayColor"]}}><b>{{item["hands"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["torso"]["icon"]}}.png">
										</td>
										<td>
											<b>Torso</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["torso"]["tooltipParams"]}}"><font color={{item["torso"]["displayColor"]}}><b>{{item["torso"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["bracers"]["icon"]}}.png">
										</td>
										<td>
											<b>Bracers</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["bracers"]["tooltipParams"]}}"><font color={{item["bracers"]["displayColor"]}}><b>{{item["bracers"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>						
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["leftFinger"]["icon"]}}.png">
										</td>
										<td>
											<b>Left Finger</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["leftFinger"]["tooltipParams"]}}"><font color={{item["leftFinger"]["displayColor"]}}><b>{{item["leftFinger"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["waist"]["icon"]}}.png">
										</td>
										<td>
											<b>Waist</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["waist"]["tooltipParams"]}}"><font color={{item["waist"]["displayColor"]}}><b>{{item["waist"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["rightFinger"]["icon"]}}.png">
										</td>
										<td>
											<b>Right Finger</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["rightFinger"]["tooltipParams"]}}"><font color={{item["rightFinger"]["displayColor"]}}><b>{{item["rightFinger"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>				
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["mainHand"]["icon"]}}.png">
										</td>
										<td>
											<b>Main Hand</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["mainHand"]["tooltipParams"]}}"><font color={{item["mainHand"]["displayColor"]}}><b>{{item["mainHand"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["legs"]["icon"]}}.png">
										</td>
										<td>
											<b>Legs</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["legs"]["tooltipParams"]}}"><font color={{item["legs"]["displayColor"]}}><b>{{item["legs"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["offHand"]["icon"]}}.png">
										</td>
										<td>
											<b>Off Hand</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["offHand"]["tooltipParams"]}}"><font color={{item["offHand"]["displayColor"]}}><b>{{item["offHand"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td width="33%" valign="top">
							</td>							
							<td width="33%" valign="top">
								<table>
									<tr>
										<td width="33%" valign="top" align="center">
											<img border="0" src="http://media.blizzard.com/d3/icons/items/small/{{item["feet"]["icon"]}}.png">
										</td>
										<td>
											<b>Feet</b>
											<br>
 											<a href="http://us.battle.net/d3/en/{{item["feet"]["tooltipParams"]}}"><font color={{item["feet"]["displayColor"]}}><b>{{item["feet"]["name"]}}</b></font></a>
										</td>
									</tr>
								</table>
							</td>
							<td width="33%" valign="top">
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>	